<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>enterprise_name</param-name>
        <param-value>Cucurumbe Group</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>pathResources</param-name>
        <param-value>
            /data/cucurumbe/resources/
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>defaultSearchResultLimit</param-name>
        <param-value>500</param-value>
    </context-param>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>CucurumbeDomain</realm-name>
        <form-login-config>
            <form-login-page>/index.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/access.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/access.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.xhtml</location>
    </error-page>
    <security-constraint>
        <display-name>PrivateResourcesSecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Reperesentative Collection</web-resource-name>
            <description>Representative Resources</description>
            <url-pattern>/priv/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>RESERVACIONES</role-name>
            <role-name>DIRECCION_COMMERCIAL</role-name>
            <role-name>DIRECCION_OPERACIONES</role-name>
            <role-name>DIRECCION_FINANCIERA</role-name>
            <role-name>FACTURACION</role-name>
            <role-name>CUENTAS_POR_COBRAR</role-name>
            <role-name>ADMINISTRACION_CENTRO_DE_NEGOCIOS</role-name>
            <role-name>SUPERVISOR_CENTRO_NEGOCIOS</role-name>
            <role-name>CAJERO_GENERAL</role-name>
            <role-name>JEFE DE COSTOS</role-name>
            <role-name>GERENTE_RESERVACIONES</role-name>
            <role-name>OPERACIONES</role-name>
            <role-name>COBRANZA</role-name>
            <role-name>REPRESENTATIVE</role-name>
            <role-name>WEBADMIN</role-name>
            <role-name>SUPERVISOR</role-name>
            <role-name>QA</role-name>
            <role-name>MANAGER</role-name>
            <role-name>DIRECTOR</role-name>
            <role-name>SPECIAL_PROJECTS</role-name>
            <role-name>WEBMASTER</role-name>
            <role-name>INDIVIDUAL</role-name>
            <role-name>FIT</role-name>
            <role-name>GUEST</role-name>
            <role-name>OPERATIVE</role-name>
            <role-name>TRASLADISTA</role-name>
            <role-name>AIRPORT_CUSTOMER_SERVICE_MANAGER</role-name>
            <role-name>AIRPORT_CUSTOMER_SERVICE_SUBMANAGER</role-name>
            <role-name>AIRPORT_TRANSPORTATION_MANAGER</role-name>
            <role-name>AIRPORT_OPERATIONS_AND_SERVICE_DIRECTOR</role-name>
            <role-name>TEAM_LEADER</role-name>
            <role-name>QA_CONTINUOUS_IMPROVEMENT_SUPERVISOR</role-name>
            <role-name>QA_CUSTOMER_CENTRIC_MANAGER</role-name>
            <role-name>VIP</role-name>
            <role-name>OPERADOR</role-name>
            <role-name>SUPERVISOR_RESERVACIONES</role-name>
            <role-name>DIRECTOR_OPERATIVO</role-name>
            <role-name>GERENTE_DE_TRAFICO</role-name>
            <role-name>GERENTE_OPERATIVO</role-name>
            <role-name>GERENTE_TRANSPORTACION</role-name>
            <role-name>COORDINADORA_DE_LOGISTICA</role-name>
            <role-name>LOGISTICA_TRANSPORTACION</role-name>
            <role-name>GUIA</role-name>
            <role-name>DIRECTOR_ADDONS</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description/>
        <role-name>WEBADMIN</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SUPERVISOR</role-name>
    </security-role>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-role>
        <description/>
        <role-name>MANAGER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>DIRECTOR</role-name>
    </security-role>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <security-role>
        <description/>
        <role-name>GUEST</role-name>
    </security-role>
    <!-- GOOGLE ANALYTICS CONFIG -->
    <context-param>
        <param-name>
            googleAnalyticsTrackingCode
        </param-name>
        <param-value>
            UA-135789169-1
        </param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>morpheus-cyan</param-value>
    </context-param>
    <security-role>
        <description/>
        <role-name>RESERVACIONES</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>DIRECCION_COMMERCIAL</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>DIRECCION_OPERACIONES</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>DIRECCION_FINANCIERA</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>FACTURACION</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>CUENTAS_POR_COBRAR</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ADMINISTRACION_CENTRO_DE_NEGOCIOS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SUPERVISOR_CENTRO_NEGOCIOS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>CAJERO_GENERAL</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>JEFE DE COSTOS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>GERENTE_RESERVACIONES</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>OPERACIONES</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>COBRANZA</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>SUPERVISOR_RESERVACIONES</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>DIRECTOR_OPERATIVO</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>GERENTE_DE_TRAFICO</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>GERENTE_OPERATIVO</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>GERENTE_TRANSPORTACION</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>COORDINADORA_DE_LOGISTICA</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>LOGISTICA_TRANSPORTACION</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>GUIA</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>DIRECTOR_ADDONS</role-name>
    </security-role>
</web-app>
